
<h2 class ="text-center">Saved Faces</h2>
<div class="table-responsive" ng-init="getFaces()">
  <table class="table table-striped">
    <thead>
      <tr>
       <th> 
          <div class="text-center">
            Name
          </div>
       </th>
        <th>
          <div class="text-center">
            Photo
          </div>
        </th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="face in faces">
       
        <td>
        <div class="text-center">
          <h1>{{face.name}}</h1>
        </div>
        </td>

        <td>
        <div class="text-center">
          <img class="img-thumbnail" src={{face.imgUrl}} alt="Cinque Terre" width="100" height="100">
        </div>
        </td>
      
      </tr>
    </tbody>
  </table>
</div>